
body {
    border-style: solid;
    border-width: 10px;
}
@font-face{
    font-family: Luna;
    src: url("Luna.ttf");
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

ul {
    color : #FFFFFF;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}


p {
    text-align: center;
    color : #FFFFFF;
    font-family: Arial, Helvetica, serif;
    text-indent: 50px;
}
h1 {
    color: #000000;
    font-family: Luna;
}    
h2, h3, h4, h5,h6 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, serif;
}
ol {  
    list-style-type: circle;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, serif;
    color : #FFFFFF;
}

p {
    text-align: left
}

div.row {
    color: #FFFFFF;
    font-family: Arial, Helvetica, serif;
}

